{% extends "index.html" %}

{% block title %} Add word {% endblock %}

{% block content %}


<h2 align="center" >Add word to dictionary!</h2>
<form method="POST" action="" class="row gy-2 gx-3 align-items-center">
  <div class="col-auto">
    <input type="text" class="form-group row text-right" placeholder="Слово">
  </div>
<div class="col-auto">
    <input type="text" class="form-group row text-right" placeholder="Перевод">
  </div>
  <div class="col-auto">
    <select class="form-select" >
      <option selected>Выберите язык</option>
      <option value="1">Английский</option>
      <option value="2">Испанский</option>
      <option value="3">Французский</option>
    </select>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Отправить</button>
  </div>
  {% csrf_token %}
</form>

{% endblock %}