{% extends "index.html" %}

{% block title %} Add word {% endblock %}

{% block content %}


<h2 align="center" >Add word to dictionary!</h2>
<form method="POST" action="" class="row gy-2 gx-3 align-items-center">
  <div class="col-sm-3">
    <label class="visually-hidden" >Слово</label>
    <input type="text" name="new_word" class="form-control" placeholder="Слово" required>
  </div>
  <div class="col-sm-3">
    <label class="visually-hidden" >Перевод</label>
    <input type="text" name="translation" class="form-control" placeholder="Перевод" required>
  </div>
  <div class="col-sm-3">
    <select class="form-select" name="language">
      <option selected>Выберите язык</option>
      <option value="English">Английский</option>
      <option value="Spanish">Испанский</option>
      <option value="French">Французский</option>
    </select>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Добавить в словарь</button>
  </div>
  {% csrf_token %}
</form>

{% endblock %}