{% extends "index.html" %}

{% block title %} Add word {% endblock %}

{% block content %}


<h2 align="center" >Add word to dictionary!</h2>
<form method="POST" action="" class="row gy-2 gx-3 align-items-center">
  <div class="col-sm-3">
    <label class="visually-hidden" >Слово</label>
    <input type="text" name="word1" class="form-control" placeholder="Слово" required>
  </div>
  <div class="col-sm-3">
    <label class="visually-hidden" >Перевод</label>
    <input type="text" name="word2" class="form-control" placeholder="Перевод" required>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Добавить в словарь</button>
  </div>
  {% csrf_token %}
</form>

{% endblock %}